.heading {
  text-align: center;
  padding: 50px;
}

.search-wrapper {
  text-align: center;
}


ul {
  list-style-type: none;
  text-align: center;
  margin: 50px;
  padding: 20;
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

input {
  font-size: 20px;
}

